/* ======== 卡片滚动渐入动画 ======== */
.index-card {
  /* 强制给默认值，浏览器必认 */
  --state: 0 !important;

  /* 基础样式 */
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1) !important;
  transform: translateY(20px) scale(0.9);
  opacity: 0.6;
  margin-bottom: 2rem;
}

/* 激活状态：完全显示 */
.index-card[style*="--state: 1"] {
  transform: translateY(0px) scale(1) !important;
  opacity: 1 !important;
}

.index-img img {
  margin: 20px 0;
}